.pool {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 34px;
    font-weight: bolder;
}

img {
    width: 45px;
    height: 45px;
    padding-right: 25px;
}

.navcontainer {
  width: 100%;
  }