<app-topbar></app-topbar>
<div class="back123">

        <mat-grid-list cols="2" rowHeight="1:1">
            <div class="tet">
                Manage your group expenses now with us
            </div>
              <div class="btn-home">  
                        <button class="btn-login" mat-raised-button color="primary">Sign In</button>
                 
                        <button class="btn-login" mat-raised-button color="primary">Sign Up</button>
                    </div> 
                    </mat-grid-list>

</div>
<h1><a routerLink = "/signin">signin</a></h1>
<router-outlet></router-outlet>

